/* Reddit */
img[src="/assets/01ec4129d205c6aa3fc8.svg"] {
	content: url(https://img.icons8.com/?size=48&id=h3FOPWMfgNnV&format=png);
}
/* Youtube */
img[src="/assets/98cb54ad7e152cb8ddd8.svg"] {
	content: url(https://img.icons8.com/?size=48&id=9a46bTk3awwI&format=png);
}
/* Twitter / X */
img[src="/assets/86405e363b6311e00c44.svg"] {
	content: url(https://img.icons8.com/?size=48&id=5MQ0gPAYYx7a&format=png);
}
/* Battle.net */
img[src="/assets/5617f28d3b663042a45e.svg"] {
	content: url(https://img.icons8.com/?size=48&id=dnPbj9fEvGvl&format=png);
}
/* Spotify */
img[src="/assets/371bb877e1a3fe7e68dd.svg"] {
	content: url(https://img.icons8.com/?size=48&id=G9XXzb9XaEKX&format=png);
}
/* Twitch */
img[src="/assets/df45e9df10d924336856.svg"] {
	content: url(https://img.icons8.com/?size=48&id=7qFfaszJSlTs&format=png);
}
/* Facebook */
img[src="/assets/dacb3f3794eb5252e56f.svg"] {
	content: url(https://img.icons8.com/?size=48&id=uLWV5A9vXIPu&format=png);
}
/* League Of Legends */
img[src="/assets/f8097013971399d58217.svg"] {
	content: url(https://img.icons8.com/?size=48&id=IsO1Deq36Eiz&format=png);
}
/* Riot Games */
img[src="/assets/db062734a8b565b22c3e.svg"] {
	content: url(https://img.icons8.com/?size=48&id=GjCK2f2wpZxt&format=png);
}
/* Epic Games */
img[src="/assets/66fc5de5040d6b38cb39.svg"] {
	content: url(https://img.icons8.com/?size=48&id=elEa3n3Q6YTg&format=png);
}
/* Paypal */
img[src="/assets/cd538a7ff4cdd66dc377863e809c33bb.svg"] {
	content: url(https://img.icons8.com/?size=48&id=CaSfJLdM4LTY&format=png);
}
/* Instagram */
img[src="/assets/0e329b7f29f65c30bc87.svg"] {
	content: url(https://img.icons8.com/?size=48&id=Xy10Jcu1L2Su&format=png);
}
/* Steam */
img[src="/assets/3ac065180fc6dd10c1fa.svg"] {
	content: url(https://img.icons8.com/?size=48&id=zNqjI8XKkCv0&format=png);
}
/* github */
img[src="/assets/f786efdd1e3f1028b0c0.svg"] {
	content: url(https://img.icons8.com/?size=48&id=AZOZNnY73haj&format=png);
}
/* Xbox */
img[src="/assets/6de3dbffdc87e90e3e8a.svg"] {
	content: url(https://img.icons8.com/?size=48&id=wlFMPtzt97an&format=png);
}
/* Ebay */
img[src="/assets/0cbf39030b5e8e3edcd2.svg"] {
	content: url(https://img.icons8.com/?size=50&id=24578&format=png);
}
/* Crunchyroll */
img[src="/assets/eba5d54d718e2dec078c.svg"] {
	content: url(https://img.icons8.com/?size=48&id=sGxCEkuQ0MGf&format=png);
}

/* Domain: Inverted */
img[src="/assets/86be48549d0490add25c.svg"] {
	content: url(https://img.icons8.com/?size=48&id=VJz2Ob51dvZJ&format=png);
}
/* Twitter: Inverted */
img[src="/assets/184666e35ea362100fe7.svg"] {
	content: url(https://img.icons8.com/?size=48&id=5MQ0gPAYYx7a&format=png);

}
/* Xbox: Inverted */
img[src="/assets/a7bfe92b31e77b7496e3.svg"] {
	content: url(https://img.icons8.com/?size=48&id=wlFMPtzt97an&format=png);
}
/* Playstation: Inverted */
img[src="/assets/1b0b60300e4f234337be.svg"] {
	content: url(https://img.icons8.com/?size=48&id=LQvs2TUxXdFy&format=png);
}
/* TikTok: Inverted */
img[src="/assets/8d59fe36ed8acef1339e.svg"] {
	content: url(https://img.icons8.com/?size=48&id=fdfLpA6fsXN2&format=png);
}
/* Github: Inverted */
img[src="/assets/4c987dd2f591afd7c37b.svg"] {
	content: url(https://img.icons8.com/?size=48&id=AZOZNnY73haj&format=png);
}
/* Facebook: Inverted */
img[src="/assets/6fe1b9b3a8f94a01e30f.svg"] {
	content: url(https://img.icons8.com/?size=48&id=uLWV5A9vXIPu&format=png);
}
/* Steam: Inverted */
img[src="/assets/fcbb404cb94bae3e97d7.svg"] {
	content: url(https://img.icons8.com/?size=48&id=zNqjI8XKkCv0&format=png);
}
/* Riot Games: Inverted */
img[src="/assets/d521f9c27b53f7a779e6.svg"] {
	content: url(https://img.icons8.com/?size=48&id=GjCK2f2wpZxt&format=png);
}
/* Epic Games: Inverted */
img[src="/assets/dcc7ce82be27249be601.svg"] {
	content: url(https://img.icons8.com/?size=48&id=elEa3n3Q6YTg&format=png);
}
img[src="/assets/a8c846ced612f3c7608d.png"]{
	content: url(https://img.icons8.com/?size=48&id=63303&format=png);
}
